:root {
  --blue: rgba(46, 66, 114, 1); /* Main Primary color */
  --lightestBlue: rgba(120, 135, 171, 1);
  --lightBlue: rgba(79, 98, 142, 1);
  --darkBlue: rgba(22, 41, 85, 1);
  --darkestBlue: rgba(6, 21, 57, 1);
}

* {
  margin: 0;
  font-family: ubuntu, sans-serif;
}
/* *******************************Header****************** */
header {
  height: 5rem;
  background-color: var(--blue);
  padding: 1rem;
  font-family: ubuntu, sans-serif;
  color: white;
}
