:root {
  --blue: rgba(46, 66, 114, 1); /* Main Primary color */
  --lightestBlue: rgb(173, 207, 252);
  --lightBlue: rgba(79, 98, 142, 1);
  --darkBlue: rgba(22, 41, 85, 1);
  --darkestBlue: rgba(6, 21, 57, 1);
}

* {
  margin: 0;
}
/* *******************************Header****************** */
header {
  height: 5rem;
  background-color: var(--blue);
  padding: 1rem;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
/* *******************************Main****************** */
#main {
  float: right;
  width: 80vw;
  height: 100vh;
  border: 2px black solid;
}
#sideBar {
  height: 100vh;
  border: 2px red solid;
}

/* *******************************Side bar****************** */

.centerLabel {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
.input-group {
  display: block;
  margin: 1px auto;
}
#searchBar {
  display: block;
  width: 100%;
  margin: 10px auto;
}
#buttonSpinner {
  display: flex;
  transition: 2s;
}
#spinner {
  display: none;
  margin: auto;
}
#searchBtn {
  display: block;
  width: 80%;
  margin: 1px auto;
  border: 3px var(--blue) solid;
  font-family: "Ubuntu", sans-serif;
  color: var(--lightBlue);
}
#searchBtn:hover {
  background-color: var(--lightestBlue);
}
#searchBarList {
  padding-left: 0;
}
.searchHistoryLI {
  display: block;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
}
.searchHistoryLI:hover {
  background-color: var(--lightestBlue);
}
/* **************************today section******************************** */
.col-2 {
  border: 2px black solid;
  margin-left: auto;
  height: 80%;
}
#weatherToday {
  display: block;
  border: 2px yellow solid;
  height: 50%;
}
#todayLabel {
  padding-top: 20px;
  padding-left: 40px;
  margin: 0;
}
#todayCityDiv {
  display: flex;
}
#icon {
  padding-left: 20px;
}
#todayCity {
  margin: 5px 0;
  padding-left: 40px;
  font-size: 1.8rem;
}
#weatherTodayUL {
  margin: 0;
}
.weatherTodayLI {
  margin: 3px 0;
  list-style-type: none;
  color: var(--darkestBlue);
  font-size: 1.4rem;
  font-weight: 500;
}
/* ****************************five day forecast************************** */
#weatherFiveDay {
  border: 2px pink solid;
  height: 50%;
}

#weatherDays {
  height: 80%;
}

#fiveDayLabel {
  margin-left: 3rem;
  height: auto;
}
