:root {
  --blue: rgba(46, 66, 114, 1); /* Main Primary color */
  --lightestBlue: rgb(173, 207, 252);
  --lightBlue: rgba(79, 98, 142, 1);
  --darkBlue: rgba(22, 41, 85, 1);
  --darkestBlue: rgba(6, 21, 57, 1);
}

* {
  margin: 0;
}
#mainRow {
  justify-content: center;
}
/* *******************************Header****************** */

header {
  /* /Remove "set heights" <--explicits height */
  display: flex;
  justify-content: space-between;
  background-color: var(--blue);
  padding: 1rem;
  padding-top: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  color: white;
  margin-bottom: 2rem;
}

header h1 {
  font-size: 1.5 em;
}
header button {
  justify-self: right;
  padding: 0;
}

/* *******************************Side bar****************** */
#sideBar {
  display: none;
}
.centerLabel {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
.input-group {
  display: block;
  margin: 1px auto;
}
#searchBar {
  display: block;
  width: 100%;
  margin: 15px auto;
}
#buttonSpinner {
  display: flex;
  transition: 2s;
}
#spinner {
  display: none;
  margin: auto;
}
#searchBtn {
  display: block;
  width: 100%;
  background: var(--blue);
  border-color: transparent;
  margin-bottom: 15px;
}
#searchBtn:hover {
  background-color: var(--lightestBlue);
}
#searchBarList {
  padding-left: 0;
}
.searchHistoryLI {
  display: block;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
}
.searchHistoryLI:hover {
  background-color: var(--lightestBlue);
}

/* *******************************sidebar nav for small screen******** */
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: var(--lightestBlue); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: var(--lightestBlue);
  color: rgb(104, 100, 100);
  margin: 0 0 8px;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  position: fixed;
  right: 0;
  transition: margin-left 0.5s; /* If you want a transition effect */
  /* padding: 20px 0; */
}
#main button {
  height: 100px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* **************************today section******************************** */

#weatherToday {
  padding: 25px;
  margin-bottom: 25px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}

#weatherToday h1 {
  font-size: 2em;
}
#weatherToday h2 {
  font-size: 1.8em;
}

#todayCityDiv {
  display: flex;
  flex-wrap: wrap;
}
#icon {
  padding-left: 20px;
}

#weatherTodayUL {
  margin: 0;
  padding: 0;
}
.weatherTodayLI {
  margin: 3px 0;
  list-style-type: none;
  color: var(--darkestBlue);
  font-size: 1.4rem;
  font-weight: 500;
}
/* ****************************five day forecast************************** */
#weatherFiveDay {
  margin-bottom: 25px;
  /* box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%); */
}

#weatherDays {
  justify-content: space-between;
  padding: 15px 0;
}

#weatherDays ul li {
  margin-top: 10px;
}

#fiveDayLabel {
  height: auto;
}

.fiveDay {
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}

.fiveDay h3 {
  display: inline;
}
.fiveDay img {
  display: inline;
}

.fiveDate {
  font-size: 1.2em;
  text-align: center;
  width: 100%;
}

.weatherLI {
  margin: 7px auto;
  list-style-type: none;
  color: var(--darkestBlue);
  font-size: 0.8rem;
  font-weight: 500;
  width: 100%;
}
.iconFive {
  display: block;
  margin: 0 auto;
  justify-content: center;
}

div#weatherDays > div {
  margin: 5px 0;
  /* border-bottom: 3px solid rgba(0, 0, 0, 0.2); */
  /* box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%); */
}

/* *********************desktop format************ */
@media all and (min-width: 980px) {
  #main {
    display: none;
  }
  #sideBar {
    display: initial;
  }
  #todayLabel {
    padding-top: 20px;
    padding-left: 40px;
    margin: 0;
  }
  #todayCity {
    margin: 5px 0;
    padding-left: 40px;
    font-size: 1.8rem;
  }
  div#weatherDays > div {
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  }
}
